*{
	margin: 0;
	padding: 0;
	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;*/
	box-sizing: border-box;
}
header {
	display:inline-block;
	width: 100%;
	font-family:Georgia, Times, serif;
	background: url(../imatges/fons2.png) no-repeat; /*imatge de fons de la capçalera*/
	background-size:cover;
	/*font-size:1.2rem;
	color: #000000;
	text-align: center;*/
	position:sticky; /*per fixar el header (titol i menu) al fer scroll en el body */
	top:0;		 	 /*per fixar el header (titol i menu) a la posició 0 on està establert al fer scroll en el body */
}
body{
	/*zoom: 90%; para que el zoom del navegador visualice al 90% SI HO VOLEMMMMMMMMM*/
	font-size: 16px; /* valor per defecte, ho donem com a referència per poder trobar l'escala per transformar px en em (px/16)=em que necessitem*/
	max-width:100em;
	padding-bottom: 10em;
	background: lightblue;
	width: 90%;
	font-family:Verdana,Arial, serif;
	margin: 0 auto;
}

body > header { /* Per ajuntar dos parts en 1 */
	/*background-color: #48C3F9;*/	
	padding: 0.5em 0em 1em 1em; 
	/*padding-left: 30px;
	/*padding-top: 5px;*/
}

a{
	text-decoration: none;
	color: blue;
}

ul{
	list-style: none;
}

img{
	/*max-width: 100%;*/
	width:100%;
}
h2{
	font-family:Georgia, Times, serif;
	font-style:italic;
	/*width: 38.75em; */
	line-height:2.2em;
}
h3{
	color: #48C3F9;
	line-height: 2.5em;
}

.bio ul{
	list-style:square;
	padding-left: 1.5em;
	color: #48C3F9;
}
p{
	line-height: 1.5em;
}

/*==========================================*/
/*.logotip img{
	float: left;
    width: 8em; mida logotip
	border-radius:50%;
	background-size: cover; /* per fer-li un cercle blau al voltant logo 
	z-index: 1;				
    border-style: solid;
    border-width: 0.63em;
    border-color: #03A9F4;
}
.logotip{
	width:20%;
	padding:3em 0em 0em 5.5em;
}*/

.titol{
	width: 100%;
	/*background: #48C3F9;*/
	height: 9.8em;
}
.titol h1 {
  font-size: 3.5em;
  /*position: absolute;*/
  padding-left:9.2em;
  padding-top:1.1em;
  color: white;
  text-shadow: 0.1em 0.05em 0.1em #000; /*SI VOLEM QUE EL TITOL TINGUI UNA OMBRA QUE FACI COM SI FOS EN 3D LLAVORS TREIEM DEL BORDER EL WHITE */
}
/*.border { /* Per definir el borde del titol en blanc amb l'interior negre
  color: white; 
  position: absolute;  
  text-shadow:
    -1px -1px 0 black, 
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;  
}*/

/* .wave { Per definir com serà l'onada del titol amb el seu color i l'animació wave que utilitza que serà de 3 segons i infinita
  color: #09f;
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave { /*definim el moviment de l'onada del titol amb el model de la forma d'un poligon 
  0%, 100% {
    clip-path: polygon(
      0% 47%,
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(0% 60%,
    15% 65%,
    34% 66%,
    51% 62%,
    67% 50%,
    84% 45%,
    100% 46%,
    100% 100%,
    0% 100%
    );
  }
}*/

.navegacion{
	width: 100%;
	background: #528FD5;
	display: flex;
	justify-content: center;
	position:sticky; /*per fixar el menu de navegació al fer scroll en el body */
	top:11.3em;		 /*per fixar el menu de navegació a la posició 170px on està establert al fer scroll en el body */
}

.menu{
	width: 51em;
	display: flex;
	flex-wrap: wrap;
	height: 3.8em;
	position:sticky; /*per fixar el menu de navegació al fer scroll en el body */
	top:11.3em;		 /*per fixar el menu de navegació a la posició 170px on està establert al fer scroll en el body */
}

.menu li{
	flex-basis: 0;
	flex-grow: 1;
	border-right: 0.1em solid #363636;
	position: relative;
}

.menu .first-item{
	border-left: 0.1em solid #363636;
}

.menu li a{
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
}

.menu .imatge{ 
	position: absolute;
	bottom: 0;
	right: 3em;
	width: 0%;
	z-index: 20;

	-webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
}

.menu li a .text-item{
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	top: 0%;
	position: absolute;
	z-index: 10;

	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.menu li a .down-item{
	position: absolute;
	top: 0%;
	width: 100%;
	/*height: 20%;*/
	background: #528FD5;

	-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

.menu li:hover .down-item, .menu li:hover .text-item{
	top: 100%;
	height: 95%;
}

.menu li:hover .imatge{
	width: 100%;
	right: 0em;
}

.imatgefixa{ /*fotografia que s'integra en el menu i que queda entre ell, el header i la resta del body quedant fixe quan fem scroll */
	position:fixed;
	padding:1em;
	margin:-9em 75em 0em 0em;
	/*border:2px solid black;*/
	width:19%;
}
/*.fotoD img {
	/*display: block;
	margin-left: auto;
	margin-right: auto;
    width: 55%; /*mida foto
	border-radius:50%;  /*foto rodona (cercle) 	
	background-size: cover; /* per fer-li un cercle de 4 colors al voltant foto 
	z-index: 1;
    border-style: solid; /*border al voltant de la foto per emmarcar-la amb 4 colors 
    border-width: 0.6em;
    border-color: #03A9F4 #FF5252 #8BC34A #FFCD40;
}*/

.infoPersonal{
	width: 25%;
	background-color: #E8E5E3;
	padding: 10em 0em 1em 3.5em; 
	/*box-sizing: border-box;*/
}

.infoPersonal p{
	line-height: 2.2em;
}

.infoPersonal h3{ /* tamany del titol Personal Information una mica més gran que per defecte h3 i subrayat */
	font-size: 1.5em;
	text-decoration: underline;
}

/*.fotoD{
	padding: 3em 0em 0em 6em;
	
}*/
.info{
	
}

.telef{
	list-style-image: url('../icons/telefon_icon2OK2.png');
	line-height: 1.7em;
}
.email{
	list-style-image: url('../icons/email-icon2OK2.png');
	line-height: 1.7em;
}
.adreça{
	list-style-image: url('../icons/location-icon2OK2.png');
	line-height: 1.7em;
}

.bio {
	width: 75%;
	/*margin: 10px; */
	padding: 4em 2em 2em 3em;
	background-color: #ffffff;
}

footer {
	padding: 1.2em;
	background-color: #03A9F4;
	color: black;
	text-align: center;
}

#main-content{
	display:flex; /*visualització de la informació personal i bio un al costat de l'altra */
}
/* Extra large devices (large desktops, 1360px) */
@media (max-width: 1360px){
	body{
		font-size:13px;
	}
	.header{
		font-size:10.5px;
	}
	.titol h1 {
		padding-left:10em;
		padding-top:0.8em;
	}
	.imatgefixa{ /*fotografia que s'integra en el menu i que queda entre ell, el header i la resta del body quedant fixe quan fem scroll */
	margin:-5em 70em 0em 0em;
	width:18%;
	}
	.navegacion{
	top:9.1em;		 /*per fixar el menu de navegació a la posició 170px on està establert al fer scroll en el body */
	}
	.menu{
	top:9.1em;		 /*per fixar el menu de navegació a la posició 170px on està establert al fer scroll en el body */
	}
}
/* Large devices (large desktops, 992px and up) */
@media (max-width: 992px){
	body{
		font-size:11px;
	}
	.header{
		font-size:8.5px;
	}
	.titol h1 {
		padding-left:10em;
		padding-top:0.8em;
	}
	.imatgefixa{ /*fotografia que s'integra en el menu i que queda entre ell, el header i la resta del body quedant fixe quan fem scroll */
	margin:-3em 65em 0em 0em;
	width:16%;
	}
	.navegacion{
	top:8.7em;		 /*per fixar el menu de navegació a la posició 170px on està establert al fer scroll en el body */
	}
	.menu{
	top:8.7em;		 /*per fixar el menu de navegació a la posició 170px on està establert al fer scroll en el body */
	}
	.infoPersonal{
		padding: 8em 0em 1em 3em; 
		font-size: 11px;
	}
	.infoPersonal h3{ /* tamany del titol Personal Information una mica més gran que per defecte h3 i subrayat */
	font-size: 1.2em;
	text-decoration: underline;
}
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px){
	body{
		font-size:9px;
	}
	.header{
		font-size:6.5px;
	}
	.titol h1 {
		padding-left:10em;
		padding-top:0.7em;
	}
	.imatgefixa{ /*fotografia que s'integra en el menu i que queda entre ell, el header i la resta del body quedant fixe quan fem scroll */
	margin:-3em 64em 0em 0em;
	width:14%;
	}
	.navegacion{
	top:8em;		 /*per fixar el menu de navegació a la posició 170px on està establert al fer scroll en el body */
	}
	.menu{
	top:8em;		 /*per fixar el menu de navegació a la posició 170px on està establert al fer scroll en el body */
	}
	#main-content{
	display:block; /*per posar la informació personal i la informació de bio un a sota l'altre i no de costat per visualitzar-se millor */
	}
	.infoPersonal{
		width: 100%;
		padding: 2em 0em 1em 11em; 
		font-size: 11px;
	}
	.bio, footer{
		width: 100%;
		font-size: 11px;
	}
}
/* Small devices (landscape phones, 576 px and up) */
@media (max-width: 576px){
	body{
		font-size:7px;
	}
	.header{
		font-size:5.5px;
	}
	.titol h1 {
		padding-left:9em;
		padding-top:0.8em;
	}
	.imatgefixa{ /*fotografia que s'integra en el menu i que queda entre ell, el header i la resta del body quedant fixe quan fem scroll */
	margin:-3em 62em 0em 0em;
	width:15%;
	}
	.navegacion{
	top:8.9em;		 /*per fixar el menu de navegació a la posició 170px on està establert al fer scroll en el body */
	}
	.menu{
	top:8.9em;		 /*per fixar el menu de navegació a la posició 170px on està establert al fer scroll en el body */
	}
	#main-content{
	display:block; /*per posar la informació personal i la informació de bio un a sota l'altre i no de costat per visualitzar-se millor */
	}
	.infoPersonal{
		padding: 2em 0em 1em 8em; 
		width: 100%;
		font-size: 11px;
	}
	.bio, footer{
		width: 100%;
		font-size: 11px;
	}	
}